.benefitsRow {
  margin: 0 auto 80px;
}

.benefitText {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

@media (max-width: 992px) {
  .benefitsRow {
    margin: 0 auto 60px;
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .benefitsRow {
    margin: 0 auto 48px;
    padding: 0 10px;
  }
  .benefitText {
    font-size: 13px;
  }
}
