.layout {
  margin: 0 auto;
  min-height: 100vh;
  background-color: transparent;
  overflow-x: hidden;
}

.content {
  min-height: calc(100vh - 208px);
}

.content section:first-of-type {
  /* компенсируем перекрытие фиксированным хедером визуально (фон перекрывается, но якоря корректны) */
  scroll-margin-top: 120px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px; /* горизонтальные поля */
  box-sizing: border-box;
}

@media (max-width: 992px) {
  .container {
    padding: 0 24px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
}
