.title {
  line-height: 100%;
  font-weight: 700;
  margin: 0;
}

.smallSize {
  font-size: 16px;
}

.defaultSize {
  font-size: 24px;
}

.largeSize {
  font-size: 36px;
}

.default {
  color: #3a3838;
}
.pink {
  color: #ea2271;
}

.purple {
  color: #621ec9;
}
