.input {
  height: 56px;
  border-radius: 16px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);

  &::placeholder {
    color: rgba(0, 0, 0, 0.7);
  }

  &.dark {
    color: black !important;

    &::placeholder {
      color: rgba(0, 0, 0, 0.8);
    }

    &:focus {
      border-color: rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
    }
  }

  &.light {
    color: #fff !important;
    border: 1px solid #ddd;

    &::placeholder {
      color: #aaa;
    }
  }
}
